:root{
  --main-color:rgba(151, 246, 151, 0.822);
  /* --main-color:rgb(167, 252, 167,.82); */
  --main-hover:rgb(78, 241, 181);
  --main-color2:#f99f75;
  --background-color:rgba(169, 255, 205, 0.349) ;
  --border-radius: 10px;
  --max-width: 1000px;

  --shadee-one: 0px;
  --shadee-two: 20px;
  --shadee-three: 20px;
  --shadee-percent: rgba(0,0,0,.2);

  --main-shadow: var(--shadee-one) var(--shadee-two) var(--shadee-three) var(--shadee-percent);
  /* 0 20px 20px rgba(0,0,0,.2); */
}
.App {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh
}
/* body {
  background-color: rgba(198, 192, 159, 0.084);
} */

.body-container {
  
  flex: 1;
  background-color: var(--background-color);
  padding: 5vh 10vw 8vh 10vw;
  /* background-color: #fbfbfb; */
  text-align: center;
}
.body-sub-container{
  max-width: var(--max-width);
  margin: auto;
}

body::-webkit-scrollbar {
  width:14px;
  /* padding-right: 10px; */
}
body::-webkit-scrollbar-track {
  /* background: rgba(247, 244, 244, 0.34); */
  background-color: white;
  /* border-radius: 20px; */
  /* color of the tracking area */
  /* visibility: hidden; */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(203, 228, 228);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 2px solid rgba(62, 247, 182, 0.209);
  /* creates padding around scroll thumb */
  /* background-clip: padding-box; */
  visibility: hidden;
}
body:hover::-webkit-scrollbar-thumb{
  visibility: visible;
}
/* body:hover, body:active, body:focus {
  overflow-y: auto;
} */