:root{
  --main-color:rgba(151, 246, 151, 0.822);
  /* --main-color:rgb(167, 252, 167,.82); */
  --main-hover:rgb(78, 241, 122);
  --main-color2:#f99f75;
  --border-radius: 10px;
  /* --main-color:rgb(204, 240, 146); */
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh
}
/* body {
  background-color: rgba(198, 192, 159, 0.084);
} */

.body-container {
  flex: 1;
  background-color: rgb(255, 255, 255);
  padding: 5vh 10vw 8vh 10vw;
  /* background-color: #fbfbfb; */
}

.App::-webkit-scrollbar {
  height: 10px;
  padding-right: 10px;
}

.App::-webkit-scrollbar-track {
  background: rgba(185, 186, 186, 0.209);
  border-radius: 20px;
  /* color of the tracking area */
  padding-right: 10px;
}

.App::-webkit-scrollbar-thumb {
  background-color: rgb(42, 41, 41);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 2px solid rgba(185, 186, 186, 0.209);
  /* creates padding around scroll thumb */
  background-clip: padding-box;
}