:root{
  --main-color:rgba(151, 246, 151, 0.822);
  /* --main-color:rgb(167, 252, 167,.82); */
  --main-hover:rgb(78, 241, 181);
  --main-color2:#f99f75;
  --background-color:rgba(169, 255, 205, 0.349) ;
  --border-radius: 10px;
  --max-width: 1000px;

  --shadee-one: 0px;
  --shadee-two: 20px;
  --shadee-three: 20px;
  --shadee-percent: rgba(0,0,0,.2);

  --main-shadow: var(--shadee-one) var(--shadee-two) var(--shadee-three) var(--shadee-percent);
}
.App {
  margin: auto;
  text-align: center;
  display: flex;
  min-width: 250px;
  flex-direction: column;
  min-height: 100vh
}

.body-container { 
  flex: 1;
  background-color: var(--background-color);
  padding: 5vh 10vw 8vh 10vw;
  text-align: center;
}
.body-sub-container{
  max-width: var(--max-width);
  margin: auto;
}

body::-webkit-scrollbar {
  width:14px;
}
body::-webkit-scrollbar-track {
  background-color: white;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(203, 228, 228);
  border-radius: 20px;
  border: 2px solid rgba(62, 247, 182, 0.209);
}
body:hover::-webkit-scrollbar-thumb{
  visibility: visible;
}


// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 700px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}