.footer-container {
  background-color: white;
  min-height: 60px;
  /* border: 1px solid blue; */
  padding: 10px 0px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.parent{
  position: relative;
  box-shadow: 0px 0px 10px 1px rgba(8, 1, 1, 0.199);
}

.scroll-top {
  position: absolute;
  top: -28px;
  margin: auto;
  width: fit-content;
  left: 0;
  right: 0;
  padding: 0.5em 0.9em 1.3em 0.9em;
  border-radius: 54px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: rgb(51, 50, 50);
  transition: 0.2s;
}

.scroll-top:hover{
  color: rgb(11, 11, 11);
  /* font-size: 1.6rem; */
}



.spoonacular {
  z-index: 1;
  min-height: 0;
  display: flex;
  gap: 15px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: grey;
}
.spoonacular img {
  height: 40px;
}
.spoonacular p{
  margin: 0;
  font-size: 12px;
  font-style: italic;
}
.spoonacular a {
  cursor: pointer;
  color: grey;
  text-decoration: none;
  text-decoration: underline;
}