@import '../App.scss';

.footer-container{
  display: none;

  @include md {
    display: block;
    position: relative;
    box-shadow: 0px 0px 10px 1px rgba(8, 1, 1, 0.199);

    .footer-container {
      background-color: white;
      min-height: 60px;
      padding: 10px 0px;
      display: flex;
      align-content: center;
      justify-content: center;
  
      .spoonacular {
        z-index: 1;
        min-height: 0;
        display: flex;
        gap: 15px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: grey;
      }
      .spoonacular img {
        height: 35px;
      }
      .spoonacular p{
        margin: 0;
        font-size: 12px;
        font-style: italic;
      }
      .spoonacular a {
        cursor: pointer;
        color: grey;
        text-decoration: none;
        text-decoration: underline;
      }
    }
  
    .scroll-top {
      z-index: 1;
      position: absolute;
      top: -25px;
      margin: auto;
      width: fit-content;
      left: 0;
      right: 0;
      padding: 0.2em 0.8em 1.3em 0.8em;
      border-radius: 54px;
      background-color: #ffffff;
      border: none;
      cursor: pointer;
      font-size: 1.3rem;
      color: rgb(51, 50, 50);
      transition: 0.2s;
    }
  }

}



.mobile-nav-bar{
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0px 0px 10px 1px rgba(8, 1, 1, 0.199);
  text-decoration: none;
  position: fixed;
  bottom:0;
  width: 100%;
  height: var(--mobile-footer-height);
  align-content: flex-start;
  background-color: white;
  z-index: 2;


  a {
    color: rgba(128, 128, 128, 0.718);
    font-size: 25px;
    &:hover{
      color: grey;
    }
  }
  
  .active-tab {
    color: rgb(88, 88, 88);
    font-size: 26px;
    font-weight: 800;
  }

  @include md {
    display:none;
  }
}