@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Karla&family=Nunito+Sans:ital,wght@1,200&family=Space+Mono&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
:root {
  --head-color1: #F5D6BA ;
  --head-color2: #ACC3A6;
  --head-color3: #5fd8ed;
  --head-color4: #FFC15E;
}

.header {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid blue; */
  background-color: white;
  padding: 0px 15px;
  box-shadow: 0px 0px 10px 1px rgba(8, 1, 1, 0.199);
  min-height: 65px;
  height: 8vh;
  min-width: 600px;
}
a img {
  height: 38px;
}

#menu {
  display: flex;
  align-items: center;
  gap:0.5vw;
  p {
    color: rgb(47, 47, 52);
    font-family: 'Dancing Script', sans-serif;
    font-size: 28px;
    margin: 0;
  }
}




.search-bar{
  border: 1px solid var(--head-color3);
  border-radius: 30px;
  display: flex;
  gap: 10px;
  padding: 8px 15px;
}
.search-bar button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.search-bar i {
  font-size: 1rem;
}
.search-bar input{
  border: none;
  min-width: 150px;
  width: 30vw;
}
.search-bar input:focus-visible {
  outline: none;
}



.dropdown {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  display: block !important;
  left: 0;
  top: calc(100% + .3rem);
  background-color: white;
  padding: 1rem;
  border-radius: .25rem;
  box-shadow: 0 -2px 10px 1px rgba(0,0,0,.2);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  transform: translate(-85%, 5%);
}

.menu-primary-enter {
  transform: translate(-85%, -50%);
  opacity:0;
}
.menu-primary-enter-active {
  transform: translate(-85%, 5%);
  transition: all 0.7s ease;
  opacity: 1;
}
.menu-primary-exit {
  position: absolute;
  transition: all 0.7s ease;
}
.menu-primary-exit-active {
  opacity: 0;
}






nav {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  align-items: center;
}
.btn-head{
  border-radius: 30px !important;
  padding: 9px 15px 11px;
  white-space: nowrap;
  cursor: pointer;
  // background-color: pink;
}
.btn-log-in {
  border: none;
  color: var(--head-color);
  background-color: var(--head-color3) !important;
  color: aliceblue ;
}
.btn-parse {
  background-color: rgb(255, 255, 255) !important;
  color: grey !important;
}

.btn-my-recipe{
  background-color: rgb(255, 255, 255) !important;
  color: grey !important;
}

.header a{
  text-decoration: none;
}

