@import '../App.scss';

:root {
  --element-radius: 15px;
}
.global-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.recipe-detail-container {
  position: relative;
  border-radius: var(--element-radius);
  margin-bottom:30px;
  text-align: center;
  border: 1px solid var(--main-color);
  background-color: white;
}

.recipe-header-title {
  text-align: center;
  font-size: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--main-color);
  padding: 8px 0 10px 0;
}

.heart-fill, .bi-heart-fill {
  color: rgb(252, 61, 61);
}


.recipe-detail-top {
  margin: auto;
  display: flex;
  gap: 30px;
  padding: 3vw 3vh;
  max-width: 900px;
  flex-wrap: wrap;
  justify-content: center;
  
  @include sm {
    flex-wrap: nowrap;
  }

  .cover-img-container {
    box-shadow: 0 0 10px 10px rgb(255, 255, 255) inset;
    background-size: cover;
    background-position: center center;
    width:90%;
    height: 35vw;
    @include sm {
      width: calc(100%/2);
      height: auto;
    }
  }
  .graph-container {
    width: 90%;
    @include sm {
      width: calc(100%/2);
    }
  }
  .graph-container p {
    margin: 0;
  }
}

// .chart-itself {
//   width: 70%;
// }

// #food-image {
//   width: 100%;
// }

.recipe-information {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  
  @include sm {
    gap: 15px;
  }
  
  @include md {
    gap: 25px;
  }
  
  i {
    font-size: 25px;
  }
  p{
    margin-bottom: 0;
    margin-top: 6px;
  }
}
.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px
}
.special-selection {
  color: var(--main-color2);
}
.step-for-heart-transition{
  position: relative;
  height:68px;
  width :68px;
}
.heart-btn-detail {
  left: calc(50% - 34px);

  position: absolute;
  /* margin-top: 10px; */
  background: linear-gradient(217deg, #75f999, rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, #f99f75, rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, #f975a6, rgba(0, 0, 255, 0) 70.71%);
  border: 1px solid var(--main-color);
  padding: 11px 20px 15px 20px;
  border-radius: 40px;
  transition: all 800ms ease-in-out;
}
.heart-btn-detail::before{
  border-radius: 40px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    45deg,
    hsl(31, 100%, 40%),
    hsl(344, 100%, 50%)
  );
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.heart-btn-detail:hover::before {
    opacity: 1;
}





.recipe-detail-bottom {
  display: flex;
  margin-top: 20px;
  padding: 2vw 1vh;
  justify-content: space-around;
  flex-wrap: wrap;

  @include lg {
    flex-wrap: nowrap;
  }
  
  .ingredient-class {
    width: 100%;
    min-width: 280px;

    @include lg {
      width:30vw;
    }
  }
  .instruction-class{
    width: 100%;
    min-width: 280px;
    @include lg {
      width:40vw;
    }
  }
  h5 {
    padding-bottom:6px;
    border-bottom: 3px solid #ECECEC;
    color: var(--main-color2);
    font-size: 20px;
  }
}

