.recipe-list-container {
  padding: 5vh 10vw;
  /* border: 2px solid powderblue; */
  background-color: #fbfbfb;
}
.recipe-list-frame {
  padding: 5vh 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 1px 1px rgba(8, 1, 1, 0.068);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}