.list-container {
  position: relative;
}
.recipe-frame {
  position: relative;
}

.heart-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  border: none;
  background-color: Transparent;
  text-shadow: 0px 0px 3px rgb(255, 255, 255);
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 17px;
  border-radius: 30px;
  background-image: linear-gradient(45deg, white, transparent);
  z-index: 1;
}
.heart-btn::before{
  border-radius: 30px;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    45deg,
    hsl(31, 100%, 40%),
    hsl(344, 100%, 50%)
  );
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}
.heart-btn:hover::before{
  opacity: 1;
}


.recipe-list-frame {
  padding: 100px 1vw 40px 1vw;
  background-color: white;
  box-shadow: var(--main-shadow);

  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.recipe-list-frame a {
  text-decoration: none;
}
.suggestion {
  position: absolute;
  top: 0;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0;
  font-size: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--main-color);
  padding: 8px 0 10px 0;
}
.btn-more {
  width:100%;
  height: 30px;
  position: absolute;
  bottom: 0px;
  cursor: pointer;
  left: 0;
  right: 0;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.4s;
  font-size: 15px;
  background-color: var(--main-color);
}

.btn-more:hover {
  background-color: var(--main-hover);
}
.btn-more:disabled {
  background-color: rgba(252, 133, 133, 0.993);
}
.btn-more:hover:disabled{
  background-color: rgba(237, 122, 122, 0.993);
}