.recipe-list-frame {
  /* margin: 5vh 10vw; */
  padding: 5vh 1vw;
  /* width: 100%; */
  background-color: white;
  box-shadow: 0px 0px 1px 1px rgba(8, 1, 1, 0.068);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.recipe-list-frame a {
  text-decoration: none;
}