.list-container {
  position: relative;
}

.recipe-frame {
  position: relative;
}

.heart-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  border: none;
  background-color: Transparent;
  text-shadow: 0px 0px 3px rgb(255, 255, 255);
  /* box-shadow: 0px 0px 2px 2px rgb(78, 78, 141); */
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 30px;
  background-image: linear-gradient(45deg, white, transparent);
  z-index: 1;
}
.heart-btn::before{
  border-radius: 25px;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    45deg,
    hsl(31, 100%, 40%),
    hsl(344, 100%, 50%)
  );
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}
.heart-btn:hover::before{
  opacity: 1;
}

.suggestion {
  position: absolute;
  top: 0;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0;
  font-size: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(142, 110, 172, 0.36);
  padding: 8px 0 10px 0;
}




.recipe-list-frame {
  /* margin: 5vh 10vw; */
  padding: 80px 1vw 60px 1vw;
  /* width: 100%; */
  background-color: white;
  box-shadow: 0px 0px 1px 1px rgba(8, 1, 1, 0.068);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.recipe-list-frame a {
  text-decoration: none;
}


.btn-more {
  height: 30px;
  position: absolute;
  bottom: 0px;
  cursor: pointer;
  left: 0;
  right: 0;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.4s;
  font-size: 15px;
  background-color: rgba(142, 110, 172, 0.36);
}

.btn-more:hover {
  background-color: rgba(148, 247, 209, 0.993);
}
.btn-more:disabled {
  
  background-color: rgba(252, 133, 133, 0.993);
}
.btn-more:hover:disabled{
  background-color: rgba(237, 122, 122, 0.993);

}