

.outer-container{
  position: relative;
}
.CreateRecipe {
  padding: 80px 3vw 30px 3vw;
  background-color: white;
  box-shadow: 0px 0px 1px 1px var(--main-color);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction:column;
  flex-wrap: nowrap;
  gap: 30px;
  justify-content: center;
}

.page-title{
  border: none;
  position: absolute;
  top: 0;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0;
  font-size: 18px;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  background-color: var(--main-color);
  padding: 8px 0 10px 0;
  color: rgb(86, 86, 86);
  transition: 0.4s;
  z-index:1;
}
.trial {
  font-size: 20px;
}
.page-title:hover{
  background-color: var(--main-hover);
  transform: scale(1.03)
}

.separator{
  border: 2px solid rgb(174, 172, 172);
  background-color: rgb(174, 172, 172);
  border-radius: 2px;
  width: 42vw;
  margin: auto;
  /* height: 1px; */
}

.menuPrimary-enter {
  transform: translate(0%, 20%);
  opacity:0;
}
.menuPrimary-enter-active {
  transform: translate(0%, 0%);
  transition: all 0.7s ease;
  opacity: 1;
}
.menuPrimary-exit {
  transform: translate(0%, 20%);
  transition: all 0.7s ease;
}
.menuPrimary-exit-active {
  opacity: 0;
}


.minimize-url-btn{
  background-color: rgba(171, 202, 171, 0.82) !important;
}



h3{
  color: rgb(223, 146, 4);
  font-size: 20px;
  font-weight: 400;
}
.title-minimized{
  font-size:20px;
  font-weight:300;
}
.form {
  /* border: 1px solid blue; */
  display: flex;
  min-width: 300px;
  flex-direction: row;
  gap:20px;
}

.first-division {
  display: flex;
}

.form-field {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  width: 55vw;
  min-width: 150px;
}

.ingredient-field {
  width: 1vw;
}

.output li {
  margin-top: 10px;
}

.output {
  /* border: 1px purple solid; */
  margin-right: 0;
  width: 25vw;
}

.btn-outline-secondary {
  background-color: var(--main-hover);
  color: grey;
  transition: 0.4s;
}

.btn-outline-secondary:hover {
  background-color: rgb(158, 250, 158);
  color: grey;
}



.second-division {
  /* border: 1px solid blue; */
  width:100%;
}