@import '../../App.scss';



h5{
  margin-bottom:15px !important;
}

.display-recipe-container {
  max-width: var(--max-width);
  box-shadow: var(--main-shadow);
  margin-top: 60px;
  position: relative;
  padding: 80px 3vw 30px 3vw;
  background-color: white;
  border-radius: 10px;

  .display-recipe-frame{
    flex-wrap: wrap;
    
    @include md {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      gap: 30px;
    }
  
    .display-recipeList-container {
      width: 100%;
      
      @include md {
        width: 35vw;
        min-width: 200px;
      }
    }
    
    .recipe-detail-frame {
      width: 100%;

      @include md {
        width: 50vw;
        min-width: 250px;
      }
    }
  }

  .page-title2 {
    border: none;
    position: absolute;
    top: 0;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0;
    font-size: 18px;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    background-color: var(--main-color);
    padding: 8px 0 10px 0;
    color: rgb(86, 86, 86);
    transition: 0.4s;
  }
}




.recipe-details {
  padding: 10px;
}

.ingredient-list {
  text-align: left;
  list-style-position: inside;
  padding: 0;
}

.ingredient-list p {
  margin:0;
}
.instruction-step {
  font-weight: 600;
}
.instruction-sub-block{
  margin-bottom: 10px;
}

.table-center-elements {
  text-align: center;
  vertical-align: middle;
}
.btn-recipe {
  border: none;
  background-color: none;
  background: none;
  transition: 0.2s;
  color: rgb(77, 80, 84);
}
.modify-recipe:hover {
  color:orange;
  font-size: 700;
}
.delete-recipe:hover {
  color: red
}
.icon-size-table{
  font-size:20px;
}

.card-frame{
  border: 2px solid var(--main-color2) !important;
}

.card-title {
  color: rgb(89, 81, 81);
}

.card-header {
  color: var(--main-color2) !important;
  font-size: 20px;
}